{% extends "layout.html" %}

{% block title %}
    HarvardBuy | How it works
{% endblock %}

{% block main %}

    <div id="how-to-box">
        <div class="howto-title">
            The easiest way to buy and sell stuff at Harvard. 
        </div>
        <br>
        <h2 class="h2-secondary-title">
            1. The problem 
        </h2>
        <p class="howto-answer">
            Selling your stuff on campus is difficult. House mailing lists. Free and for sale. 
            Asking your friends if they know anyone that might be interested in buying your gray futon...not very efficient. 
            We think that selling your items at Harvard, whether during or at the end of the year (hey seniors) should not be a hassle. 
        </p>
        <br>
        <h2 class="h2-secondary-title">
            2. The solution
        </h2>
        <p class="howto-answer">
            HarvardBuy makes buying and selling your items easy. Create an account in seconds, and you will be able to sell your stuff to the entire Harvard College community (that's more than 6,000 potential buyers!). 
            Unlike house mailing lists, HarvardBuy lets buyers navigate items by category and easily find the perfect item. 
            Items listed on HarvardBuy expire after 5 days if unsold: everything you see on the website is still for sale. No "sorry already sold :(" anymore. 
        </p><br>
        <h2 class="h2-secondary-title">
            3. Sell today!
        </h2>
        <p class="howto-answer">
            Create an account and start selling your items today! They'll be gone sooner than you think. 
            It takes less than 30 seconds to list an item – when someone is interested in your item, they will be able to send you an email letting you know 
            that they are interested. You can then easily follow up and find a time and place to meet. 
        </p>
        
        
    </div>
    
{% endblock %}
